@import "tailwindcss";
@import '../styles/_variables.scss';                                       
@import '../styles/_keyframe-animations.scss'; 

.textGradient {
  background: -webkit-linear-gradient(#429EA6, #4A6C6F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.purpleShadow{
  box-shadow: 3px 3px 1px 1px lavender;
}

.purpleShadow:hover {
  transform: translate(3px, 3px);
  box-shadow: 0px 0px 1px lavender;
}

.purpleShadowBox{
  box-shadow: 3px 3px 3px 3px lavender;
}



